*{
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            font-family: 'Orbitron', sans-serif; 
            font-weight: 700;
        }
        
        body {
            width: 100%;
            height: 100vh;
            display: flex;
            justify-content: center;
            align-items: center;
            background: linear-gradient(135deg, #f0f0f5, #e0e0e8);
            transition: background 0.5s;
        }

        :root {
            --neon-primary: #00E5EE;
            --neon-secondary: #FF00FF;
            --calculator-bg: #181818;
        }

        .calculator {
            padding: 20px;
            border: 2px solid var(--neon-primary);
            border-radius: 16px;
            box-shadow: 0 0 30px rgba(0, 229, 238, 0.4), 0 3px 15px rgba(0, 0, 0, 0.8); 
            background: var(--calculator-bg);
        }

        input {
            width: 320px;
            padding: 24px;
            margin: 10px;
            background: #333333;
            box-shadow: inset 0 0 8px rgba(0, 229, 238, 0.5);
            font-size: 65px;
            text-align: right;
            color: #FFFFFF;
            border: solid 2px rgba(255, 255, 255, 0.1);
            border-radius: 16px;
            transition: all 0.3s;
        }

        input::placeholder {
            color: #AAAAAA;
        }

        button {
            width: 60px;
            height: 60px;
            margin: 10px;
            color: var(--neon-primary);
            background-color: #2c2c2c;
            font-size: 24px;
            cursor: pointer;
            border: solid 1px rgba(0, 229, 238, 0.1);
            border-radius: 50%;
            transition: all 0.3s ease;
        }

        .ac, .del {
            font-size: 20px;
            color: var(--neon-secondary);
        }
        
        button:hover {
            color: #FFFFFF;
            background-color: #3f3f3f;
            box-shadow: 0 0 15px var(--neon-secondary), 0 0 30px var(--neon-secondary);
            transform: scale(1.05);
        }

        .equalbtn {
            background-color: var(--neon-primary);
            color: var(--calculator-bg);
            box-shadow: 0 0 10px var(--neon-primary);
        }

        .equalbtn:hover {
             background-color: #00FFFF;
             box-shadow: 0 0 15px var(--neon-secondary), 0 0 30px var(--neon-secondary);
        }

        .operator {
            color: var(--neon-primary);
        }